<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Radio - Albums</title>
    <link rel="stylesheet" href="/style.css">
    <style>
      .hidden {
        visibility: hidden;
      }
    </style>
  </head>
  <body>
    <h1>Albums</h1>
    <div id="app" class="hidden">
      <div v-for="album in albums"><a href="/albums/{{album.path}}">{{album.name}}</a></div>
    </div>

    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <script>
      window.onload = function () {
        new Vue({
          el: '#app',
          data: {
            albums: []
          },
          ready: function() {
            this.$el.classList.remove('hidden');
            fetch('/albums?type=json').then(res => res.json()).then(albums => this.albums = albums);
          }
        });
      };
    </script>

  </body>
</html>
