<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Radio - ${title}</title>
    <link rel="stylesheet" href="/style.css">
    <style>
      img {
        margin-bottom: 10px
      }
    </style>
  </head>
  <body>
    <div id="app" v-cloak>
      <h1>${title}</h1>
      <img width="250" height="250" v-bind:src="'/albums/' + album.id + '/cover?size=250'" />
      <div v-for="(disc, dn) in album.discs">
        <h2 v-if="album.discs.length > 1">Disc {{dn + 1}}</h2>
        <div class="line" v-for="(track, tn) in disc.tracks">
          {{tn + 1}}.
          <span>{{track.title}}</span>
          <a v-bind:href="'${url}/discs/' + (dn + 1) + '/tracks/' + (tn + 1)">⭳</a>
          <a href="" v-on:click.prevent="play('${url}/discs/' + (dn + 1) + '/tracks/' + (tn + 1))">️️️▶️</a>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/vue@^2.1.0/dist/vue.js"></script>
    <script>
      window.onload = function() {
        new Vue({
          el: '#app',
          data: {
            album: {}
          },
          created: function() {
            fetch('${url}?type=json').then(res => res.json()).then(album => this.album = album);
          },
          methods: {
            play(track) {
              fetch('/player/replace', {
                headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json'
                },
                method: 'POST',
                body: JSON.stringify([track])
              });
            }
          }
        });
      };
    </script>

  </body>
</html>
