<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Radio - Search</title>
    <link rel="stylesheet" href="/style.css">
    <style>
      .match {
        margin-top: 1px;
      }
    </style>
  </head>
  <body>
    <h1>Search</h1>
    <div id="app">
      <input type="text" placeholder="search terms" v-model="query" debounce="500" />
      <div v-for="match in matches" v-cloak>
        <div class="match">
          <a v-bind:href="'/albums/' + match.id">
            <img width="50" height="50" v-bind:src="'/albums/' + match.id + '/cover?size=50'" align="center"/>
            <span>{{match.name}}</span>
          </a>
          <span v-if="match.tracks.length">({{match.tracks.length}} Tracks)</span>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/vue@^2.1.0/dist/vue.js"></script>
    <script>
      window.onload = function () {
        var vm = new Vue({
          el: '#app',
          data: {
            query: '${query}',
            matches: []
          },
          methods: {
            search: function(val) {
              fetch('/albums/search?q=' + val + '&type=json').then(res => res.json()).then(matches => this.matches = matches);
            }
          },
          watch: {
            query: function(val) {
              this.search(val);
            }
          },
          created: function() {
            this.search(this.query);
          }
        });
      };
    </script>
  </body>
</html>
