<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Radio - Search</title>
    <link rel="stylesheet" href="/style.css">
    <style>
      .hidden {
        visibility: hidden;
      }
      .match {
        margin-top: 1px;
      }
    </style>
  </head>
  <body>
    <h1>Search</h1>
    <div id="app" class="hidden">
      <input type="text" placeholder="search terms" v-model="query" debounce="500" />
      <div v-for="match in matches">
        <a href="/albums/{{match.path}}">
          <div class="match">
            <img width="50" height="50" src="/albums/{{match.path}}/cover?size=50" align="center"/>
            <span>{{match.name}}</span>
            <span v-if="match.tracks.length">(Tracks {{match.tracks}})</span>
          </div>
        </a>
      </div>
    </div>

    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <script>
window.onload = function () {
  var vm = new Vue({
    el: '#app',
    data: {
      query: '${query}',
      matches: []
    },
    methods: {
      search: function(val) {
        console.log('search', val);
        fetch('/albums/search?q=' + val + '&type=json').then(res => res.json()).then(matches => this.matches = matches);
      }
    },
    watch: {
      query: function(val) {
        console.log('new: %s', val);
        this.search(val);
      }
    },
    ready: function() {
      this.$el.classList.remove('hidden');
      this.search(this.query);
    }
  });
};
    </script>
  </body>
</html>
