body {
  padding: 50px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

[v-cloak] {
  display: none;
}

a {
  color: #004080;
  text-decoration: none;
}

div.row {
  display: table;
  border-spacing: 1px;
}

div.button {
  display: table-cell;
  color: white;
  background: #666;
  cursor: pointer;
  padding: 4px 12px;
}

div.button:hover {
  background: #333;
}

div.line {
  margin-top: 1px;
}

div.tags {
  margin-bottom: 5px;
}
div.downloads {
  margin-bottom: 5px;
}

span.tag {
  color: white;
  background: lightslategrey;
  padding: 4px 6px 2px;
  border-radius: 2px;
  margin-right: 5px;
  cursor: default;
}

span.delete {
  cursor: pointer;
  margin-left: 5px;
  display: none;
}
span:hover span.delete {
  display: inline;
}

span.link {
  color: gray;
  cursor: pointer;
}
